<!-- Image and text -->
<!-- <nav class="navbar custom-navbar">
    <a class="navbar-brand">COVID19 Tracker</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav> -->

<nav class="navbar custom-navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand brand"><i class="fas fa-biohazard"></i> COVID-19 STATS</a>
</nav>
<section class="container-fluid">
    <div class="flex-container">
        <h5 *ngIf="selectedCountry.toLowerCase() == 'all'" class="info-text">Showing results for all locations</h5>
        <h5 *ngIf="selectedCountry.toLowerCase() != 'all'" class="info-text">Showing results for {{selectedCountry}}</h5>

        <form class="form-inline">
            <label style="padding-right: 10px;" for="exampleFormControlSelect1">Location</label>
            <select class="form-control" name="country" id="exampleFormControlSelect1" [(ngModel)]="selectedCountry" (change)="onChangeCountry()">  
            <option>All</option>        
            <option *ngFor="let country of countryList">{{country}}</option>
        </select>
        </form>
    </div>
    <div class="row card-container">
        <div class="col-6 col-md-3 p-fix">
            <div>
                <div class="neo-card">
                    <h6 class="bold">OVERALL CASES</h6>
                    <p class="loading-text" *ngIf="!flags.isDataLoaded">Loading...</p>
                    <h2 class="text-primary count" *ngIf="flags.isDataLoaded">{{counts.confirmed}}</h2>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3  p-fix">
            <div>
                <div class="neo-card">
                    <h6 class="bold">INFECTED</h6>
                    <p class="loading-text" *ngIf="!flags.isDataLoaded">Loading...</p>

                    <h2 class="text-warning count" *ngIf="flags.isDataLoaded">{{counts.infected}}</h2>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3  p-fix">
            <div>
                <div class="neo-card">
                    <h6 class="bold">DEATHS</h6>
                    <p class="loading-text" *ngIf="!flags.isDataLoaded">Loading...</p>

                    <h2 class="text-danger count" *ngIf="flags.isDataLoaded">{{counts.deaths}}</h2>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3  p-fix">
            <div>
                <div class="neo-card">
                    <h6 class="bold">RECOVERED</h6>
                    <p class="loading-text " *ngIf="!flags.isDataLoaded">Loading...</p>

                    <h2 class="text-success count" *ngIf="flags.isDataLoaded">{{counts.recovered}}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-6  p-fix">
            <div>
                <div class="neo-card">
                    <h6 class="bold">OVERVIEW</h6>

                    <p class="loading-text loading-text-chart" *ngIf="!flags.isDataLoaded">Loading...</p>

                    <div *ngIf="flags.isDataLoaded" class="chart">
                        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [plugins]="pieChartPlugins" [chartType]="pieChartType" [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6  p-fix">
            <div>
                <div class="neo-card">
                    <h6 class="bold">LOCATIONS WITH HIGHEST CASES</h6>

                    <p class="loading-text loading-text-chart" *ngIf="!flags.isDataLoaded">Loading...</p>

                    <div *ngIf="flags.isDataLoaded" class="chart">

                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>