<div class="dashbord-container">
    <section *ngIf="!flags.isError">
        <div class="flex-container">
            <h5 *ngIf="selectedCountry.toLowerCase() == 'all'" class="info-text">Showing results for all locations</h5>
            <h5 *ngIf="selectedCountry.toLowerCase() != 'all'" class="info-text">Showing results for {{selectedCountry}}</h5>

            <form class="form-inline">
                <label style="padding-right: 10px;" for="exampleFormControlSelect1">Location</label>
                <select class="form-control" name="country" id="exampleFormControlSelect1" [(ngModel)]="selectedCountry" (change)="onChangeCountry()">  
            <option>All</option>        
            <option *ngFor="let country of data?.countryList">{{country}}</option>
        </select>
            </form>
        </div>

        <div class="row card-container">
            <div class="col-6 col-md-3 p-fix">
                <div class="covid-card covid-card-red">
                    <h6 class="covid-card-title">OVERALL CASES </h6>
                    <div class="covid-card-body">
                        <p class="loading-text" *ngIf="!flags.isStatsLoaded">Loading...</p>
                        <div *ngIf="flags.isStatsLoaded">
                            <h2 class="count">{{data?.total}}</h2>
                            <div class="text-center card-desc">
                                <small>{{data?.new}} new cases</small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 p-fix">
                <div class="covid-card covid-card-blue">
                    <h6 class="covid-card-title">ACTIVE CASES </h6>
                    <div class="covid-card-body">
                        <p class="loading-text" *ngIf="!flags.isStatsLoaded">Loading...</p>
                        <div *ngIf="flags.isStatsLoaded">
                            <h2 class="count">{{data?.active}}</h2>
                            <div class="text-center card-desc">
                                <small>{{data?.critical}} critical cases</small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 p-fix">
                <div class="covid-card covid-card-green">
                    <h6 class="covid-card-title">RECOVERED </h6>
                    <div class="covid-card-body">
                        <p class="loading-text" *ngIf="!flags.isStatsLoaded">Loading...</p>

                        <div *ngIf="flags.isStatsLoaded">
                            <h2 class="count">{{data?.recovered}}</h2>
                            <div class="text-center card-desc">
                                <small></small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 p-fix">
                <div class="covid-card covid-card-grey">
                    <h6 class="covid-card-title">DEATHS</h6>
                    <div class="covid-card-body">
                        <p class="loading-text" *ngIf="!flags.isStatsLoaded">Loading...</p>

                        <div *ngIf="flags.isStatsLoaded">
                            <h2 class="count">{{data?.deaths}}</h2>
                            <div class="text-center card-desc">
                                <small>{{data?.newDeaths}} recent deaths</small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-6 p-fix">
                <div class="covid-card covid-card-white">
                    <h6 class="covid-card-title">OVERVIEW</h6>
                    <p class="loading-text chart-loading-text" *ngIf="!flags.isStatsLoaded">Loading...</p>
                    <div *ngIf="flags.isStatsLoaded">
                        <highcharts-chart class="chart-container" [Highcharts]="Highcharts" [options]="pieChartOptions" [(update)]="flags.updateFlag"></highcharts-chart>

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-6 p-fix">
                <div class="covid-card covid-card-white">
                    <h6 class="covid-card-title">LOCATION WITH HIGHEST CASES</h6>
                    <p class="loading-text chart-loading-text" *ngIf="!flags.isStatsLoaded">Loading...</p>
                    <div *ngIf="flags.isStatsLoaded">
                        <highcharts-chart class="chart-container" [Highcharts]="Highcharts" [options]="columnChartOptions" [(update)]="flags.updateFlag"></highcharts-chart>

                    </div>
                </div>
            </div>

            <!-- <div class="col-12 col-sm-4 col-lg-3 p-fix">
            <div class="covid-card covid-card-white">
                <h6 class="covid-card-title">TOP 5 LOCATION TRENDS</h6>
                <p class="loading-text chart-loading-text" *ngIf="!flags.isStatsLoaded">Loading...</p>
                <div *ngIf="flags.isStatsLoaded">
                    <highcharts-chart class="chart-container" [Highcharts]="Highcharts" [options]="pieChartOptions" [(update)]="flags.updateFlag"></highcharts-chart>
                </div>
            </div>
        </div> -->
        </div>
    </section>

    <section class="container-fluid" *ngIf="flags.isError">
        <div class="error-container">
            <div class="row">
                <div class="col-12 col-md-4 offset-md-4">
                    <img src="assets/img/bug_fixed.svg" class="img-fluid" alt="">
                    <div class="error-text">
                        <h2>An error has occured!</h2>
                        <p>We are looking into the issue. Please check back later</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>