/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
@font-face {
    font-family: 'Product Sans Regular';
    src: url(./assets/fonts/Product-Sans-Regular.ttf);
}

@font-face {
    font-family: 'Portfolio Regular';
    src: url(./assets/fonts/GILROY-REGULAR.OTF);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Portfolio Regular' !important;
    background: #f1f1f1 !important;
}

.info-text {
    margin: 0;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    color: #303030;
    align-self: center;
}

.card-container {
    margin-top: 8px;
    padding: 0 8px;
    ;
}

.error-container {
    /* height: 80vh; */
    padding: 60px 0;
}

.error-text h2 {
    padding: 20px 0 0 0;
    font-weight: 600;
    /* font-size: 1.2em; */
    text-transform: uppercase;
    text-align: center;
    color: #f16b6b;
}

.error-text p {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 20px 0 0 0;
    justify-content: space-between;
}

.neo-card {
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
    background: #f1f1f1;
    box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
}

.brand {
    font-weight: 600;
    font-size: 1.2em;
}

.bold {
    font-weight: 600;
}

.custom-navbar {
    background: #ffffff;
}

.loading-text {
    display: flex;
    min-height: 104px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.loading-text-chart {
    min-height: 340px;
}

.chart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 340px;
}

.p-fix {
    padding: 0 8px;
}

@media only screen and (max-width:768px) {
    .count {
        font-size: 2.5rem;
    }
    .neo-card>h6 {
        font-size: 0.9em;
    }
    .flex-container {
        flex-direction: column-reverse;
    }
    .info-text {
        margin-top: 8px;
        align-self: flex-start;
    }
    .loading-text-chart,
    .chart {
        min-height: 250px;
    }
}